body{
    background-color: #232323;
    margin:0;
    padding:0;
    margin-bottom: 100px;
    font-family: 'Ubuntu', sans-serif;
}
.square{
    background: cyan;
    width: 30%;
    padding-bottom: 30%;
    float: left;
    margin: 1.66%;
    border-radius: 10%;
    transition: background 0.1s;
}
#container{
    margin: 40px auto;
    max-width: 600px;
}
h1{
    color:rgb(255,255,255);
    text-align: center;
    background-color: orange;
    margin: 0;
    font-weight: bold;
    padding: 15px 0;
}
#colorDisplay{
    font-size: 200%;
    text-transform: uppercase;
}
#message{
    display: inline-block;
    width: 250px;
}
#stripe{
    text-align: center;
    background: white;
    height: 50px;
    margin-bottom: 10px;
}
.selected{
    background-color: green;
    color: white;
}
button{
    border: none;
    background: none;
    text-transform: uppercase;
    height: 100%;
    font-weight: 700;
    color: orange;
    letter-spacing: 1px;
    font-size: inherit;
    transition: all 0.5s;
    outline: none;
}
button:hover{
    background-color: orange;
    color: white;
}

div p{
    text-align: center;
    color: white;
    font-weight: normal;
    margin-top: 20px;
}